<!DOCTYPE html> 
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/main/resources/templates/Test.html">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    
    <title>Login Page</title>
  </head>

    
  
  <body>
  <div>
    <H1>Here is we you will log in</H1>
   



</div>

<form action="action_page.php" method="post">
    <!--This is where the Company logo/image will be placed-->
    <div class="imgcontainer">
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>
  <!--This is wehre the login fileds will be-->
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname">
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" >
  
      <a href="AdminHomePage .html ">
        <button> Login</button>
      
      </a>
       <!--log in javascript script-->
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  <!--this is where the background colours/features will be-->
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw"><a href="#">Forgot password?</a></span>
      <!--Forgot password javascriptscript-->
    </div>
  </form>
  

  Welcome to Your lgin page
<div>
  here is wher you will have company logo/image to make login page look nice
  
</div>
</body>
</html> 